@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  min-width: 350px;
}

a {
  text-decoration: none;
  color: #000;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1);
    transform: scale(1);
    text-shadow: 0 0 7px #fff;
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    text-shadow: 0 0 7px #353535;
  }
}
@keyframes jump {
  33% {
    text-shadow: 0 60px #9356DC, 0 150px #9356DC;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #FF79DA, 0 0px #FF79DA;
  }
  66.67% {
    text-shadow: 0 -60px #99E2D0, 0 -150px #99E2D0;
  }
}
@keyframes flash {
  0% {
    -webkit-transform: translate(1);
    transform: scale(1.8);
    text-shadow: 0 0 7px #fff;
  }
  50% {
    -webkit-transform: translate(1);
    transform: translate(1.8);
    text-shadow: 0 0 7px #353535;
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotateCheck {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleUpRight {
  0% {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
header {
  font-family: "Shrikhand", cursive;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gold;
}
header .cart {
  font-size: 30px;
}
header .cart:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

main .banniere {
  margin: 0;
  display: flex;
  justify-content: center;
}
main .banniere img {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
}
main .banniere h2,
main .banniere p {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 200px;
  color: wheat;
}
main .banniere p {
  top: 250px;
}
main .our-products {
  min-height: 300px;
  height: auto;
  background: #dfdcdc;
}
main .our-products .info {
  font-family: "Rowdies", cursive;
  text-align: center;
  padding: 70px;
}
main .our-products .products {
  max-width: 1000px;
  padding: 0 20px 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
main .our-products .products .card-product {
  width: auto;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  grid-template-areas: "img" "info info";
}
main .our-products .products .card-product:hover {
  transition: all 0.7s;
  transform: scale(1.03);
}
main .our-products .products .card-product .case-img {
  grid-area: img;
  height: 200px;
  width: 100%;
}
main .our-products .products .card-product .case-img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .our-products .products .card-product .case-info {
  grid-area: info;
  display: flex;
  height: 50px;
}
main .our-products .products .card-product .case-info h4 {
  padding: 14px 20px;
  width: 100%;
  color: black;
  background: gold;
}
main .our-products .products .card-product .case-info .name-product {
  border-radius: 0 0 0 10px;
  padding-right: 0;
}
main .our-products .products .card-product .case-info .price-product {
  text-align: end;
  border-radius: 0 0 10px 0;
}

.article {
  height: 741px;
  width: 100%;
  background: #dfdcdc;
  padding: 20px 0 0;
}
.article .case-product {
  position: relative;
  height: 700px;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img" "info";
}
.article .case-product .case-img {
  grid-area: img;
  height: 350px;
}
.article .case-product .case-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.article .case-product .case-info {
  grid-area: info;
  background: #f0ecec;
  padding: 30px 20px;
  height: 350px;
  border-radius: 0 0 10px 10px;
}
.article .case-product .case-info .name {
  font-family: "Shrikhand", cursive;
  padding: 0 0 10px;
}
.article .case-product .case-info .description,
.article .case-product .case-info .price,
.article .case-product .case-info .quantity,
.article .case-product .case-info .color {
  font-size: "Rowdies", cursive;
  padding: 0 0 10px;
}
.article .case-product .case-info .info-cart {
  display: none;
  background: lightgreen;
  border-radius: 10px;
  height: 30px;
  padding-top: 5px;
  width: 450px;
  position: absolute;
  bottom: 10px;
  left: 25px;
}
.article .case-product .case-info .info-cart p {
  padding-left: 50px;
  font-family: "Rowdies", cursive;
}
.article .case-product .case-info .info-cart p::after {
  content: "😊";
}
.article .case-product .case-info .buttons {
  padding: 80px 50px 0;
  display: flex;
  justify-content: space-between;
}
.article .case-product .case-info .buttons button {
  height: 40px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  padding: auto 5px;
  background: gold;
  cursor: pointer;
}
.article .case-product .case-info .buttons button:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

.cart {
  height: auto;
  padding-bottom: 20px;
  font-family: "Rowdies", cursive;
}
.cart .case-cart {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  background: #f0ecec;
  border-radius: 10px;
}
.cart .case-cart .empty-card {
  height: 651px;
  font-size: 1.5rem;
}
.cart .case-cart .title {
  padding-bottom: 15px;
}
.cart .case-cart .resume {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  padding-right: 50px;
}
.cart .case-cart .resume div {
  display: block;
}
.cart .case-cart .resume div h3 {
  text-decoration: underline;
}
.cart .case-cart .resume .descript {
  position: relative;
}
.cart .case-cart .resume .descript .case-img {
  padding-top: 10px;
  width: 70px;
  height: 50px;
}
.cart .case-cart .resume .descript .case-img img {
  width: 100%;
  border-radius: 5px;
}
.cart .case-cart .resume .descript .case-color {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  right: -75px;
  top: -47px;
}
.cart .case-cart .resume .name .case-name {
  padding-top: 10px;
  width: 70px;
  height: 50px;
}
.cart .case-cart .resume .quantity .case-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
  top: -5px;
}
.cart .case-cart .resume .quantity .case-quantity button {
  width: 20px;
  font-family: "Rowdies", cursive;
  background: gold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cart .case-cart .resume .price .case-price {
  padding-top: 10px;
  width: 70px;
  height: 50px;
}
.cart .case-cart .total-u {
  position: relative;
}
.cart .case-cart .total-u .case-priceTU {
  padding-top: 10px;
  width: 70px;
  height: 50px;
}
.cart .case-cart .total-u .case-priceTU h4 {
  width: 100px;
}
.cart .case-cart .total {
  padding: 15px 0;
}
.cart .case-cart .buttons {
  padding: 80px 50px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.cart .case-cart .buttons button {
  height: 40px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  padding: auto 5px;
  background: gold;
  cursor: pointer;
}
.cart .case-cart .buttons button:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}
.cart .case-cart .delete .case-del {
  padding-top: 10px;
  width: 70px;
  height: 50px;
  width: auto;
}
.cart .case-cart .delete .case-del::after {
  content: "🗑";
  position: relative;
  right: -50px;
  bottom: -21px;
  cursor: pointer;
}
.cart .case-cart .shipping {
  padding: 0 50px;
}
.cart .case-cart .shipping .info-shipping {
  text-align: center;
  padding-bottom: 20px;
}
.cart .case-cart .shipping form .data {
  margin-bottom: 10px;
  position: relative;
}
.cart .case-cart .shipping form .data .icone-verif {
  width: 25px;
  position: absolute;
  right: 3px;
  top: 22.5px;
  display: none;
}
.cart .case-cart .shipping form .data .message-alert {
  margin: 0 23px;
  text-align: center;
  color: red;
  display: none;
}
.cart .case-cart .shipping form .data input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 1rem;
  font-family: "Rowdies", cursive;
}
.cart .case-cart .shipping form .data h4 {
  position: absolute;
  width: 400px;
  background: white;
  top: 25px;
  left: 10px;
}
.cart .case-cart .shipping form .communes {
  background: lightgray;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
}
.cart .case-cart .shipping form .communes .commune {
  cursor: pointer;
}

.case-order {
  min-height: 654px;
}
.case-order div, .case-order .total-amount {
  padding-bottom: 20px;
}

footer {
  height: 110px;
  text-align: center;
  padding: 30px;
  background: #353535;
}
footer a {
  color: wheat;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
