//Font Family
$ff-logo-title: 'Shrikhand', cursive;
$ff-text: 'Roboto', sans-serif;
$ff-h: 'Rowdies', cursive;




// Color
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$linear-gradient:linear-gradient(to right, #9356dc, #ff79da);
$bg-dark: #353535;
$gray-light: rgb(240, 236, 236);
$gray: rgb(223, 220, 220);  
