.main-restaurants {
  background: $gray-light;
  height: 800px;
  @include lg {
    height: 1500px;
  }

  h2 {
    @include param-h2;
  }

  .all-restaurants {
    height: 620px;
    max-width: 630px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    @include lg {
      display: flex;
      flex-flow: column nowrap;
    }
    .restaurant {
      &:hover {
        transition: all 1s;
        transform: scale(1.03);
      }
      &:nth-child(1),
      &:nth-child(2) {
        @include param-new;
      }
      @include lg {
        margin: 0 auto;
      }
      background: #fff;
      border-radius: 20px;
      height: 300px;
      width: auto;
      display: grid;
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "img"
        "img"
        "img"
        "text";
      .case-img {
        grid-area: img;
        width: auto;
        height: 100%;
        min-width: 70px;
        @include lg{
          width: 250px;
        }
      }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
        
      }

     
    }

    .text {
      height: 100px;
      grid-area: text;
      display: flex;
      position: relative;
      .presentation {
        display: block;
        width: auto;
        padding: 20px;
        h3 {
          text-decoration: none;
        }

        p {
          text-decoration: none;
        }
      }
      .heart {
        @include param-heart;
      }
    }
  }
}
