.main-operation {
    margin-bottom: 20px;
    h2 {
      @include param-h2;
      @include lg {
        text-align: start;
        padding-left: 20px;
      }
    }

    .steps {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      @include lg {
        flex-direction: column;
        padding: 0 20px;
      }
      div {
        @include lg {
          margin-bottom: 20px;
          width: 100%;
        }
        &:hover {
          background: #fff;
          transition: all 0.5s;
          transform: scale(1.02);
          i {
            color: $primary;
          }
        }
        width: 250px;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        background: $gray-light;
        padding: 15px 0;
        border-radius: 30px;
        box-shadow: 1px 1px 10px 0 $bg-dark;
        cursor: pointer;
        .step-number {
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          background: $primary;
          color: white;
          position: relative;
          top: -5px;
          left: -7px;
          padding-top: 5px;
        }

        i {
          padding-right: 20px;
        }
      }
    }
  }